.App {
  text-align: center;
}

.App-logo {
  
  padding: 15px;
	height: 300px;
	width: 250px;
  overflow: auto;
}

.App-logo2{
  float: left;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.clearfix { overflow: auto; 

}

#div {

	border: 3px;
	padding: 5px;
     }

.font {

  font-family: times new roman;
  font-size: 25px;
}



img {
    height: 400px;
    width: 400px;
}

#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}
#react-logo {
  color: #00d8ff;
}
#imdb-logo {
  color: #f5de50;
}
@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}

